/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Limelight&display=swap");
:root {
  --action: #004faa;
  --white: #ffffff;
  --base-dark: #093209;
  --base-light: #f5f5f5;
  --black: #111111;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* header */
header {
  background-color: var(--base-dark);
  color: var(--black);
}

/* intro-page */
.intro-page {
  background-color: var(--base-dark);
  color: var(--base-light);
  text-align: center;
  font-family: "Lexend", sans-serif;
  height: 100vh;
  height: 100svh;
}

.intro-page h1 {
  font-size: 30px;
}
.intro-page p {
  font-size: 50px;
  font-weight: 300;
}

.climbing {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.list-intro {
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}

.flex-container {
  align-items: center;
  display: flex;
  align-self: center;
  justify-content: center;
}

.flex-item {
  text-align: center;
  margin: 5px 10px;
}

/* nav bar */
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  text-decoration: underline;
}

.navbar li {
  list-style: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--base-dark);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

/* about-me-section */

.about-me {
  margin: 2rem;
  min-height: 100svh;
}

.about-me h1 {
  font-size: 30px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: var(--base-dark);
  text-underline-offset: 10px;
}

.about-me p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5;
}
.about-me-flex-container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .about-me-flex-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
}
